<section class="hero hero--fashion">
  <div class="hero__content">
    <h1>{{ section.settings.heading }}</h1>
    <p>{{ section.settings.subheading }}</p>
    <a href="{{ section.settings.cta_link }}" class="btn btn--primary">
      {{ section.settings.cta_label }}
    </a>
  </div>
</section>
